sudo: required

services:
- docker

language: node_js

node_js: "12"

before_install:
- AZ_REPO=$(lsb_release -cs) && echo "deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ $AZ_REPO main" | sudo tee /etc/apt/sources.list.d/azure-cli.list
- curl -L https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
- sudo apt-get install apt-transport-https
- sudo apt-get update && sudo apt-get install azure-cli

install: ""
script: docker build -t webchat.azurecr.io/mockbot .

deploy:
  provider: script
  script: bash scripts/docker_push
  on:
    branch: master
